<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Domain</key>
	<string>kpz-mpk.eu.auth0.com</string>
	<key>ClientId</key>
	<string>1O3YItWkR9o2aHSoIdZspDx8xsZo2ffe</string>
</dict>
</plist>
